@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}


.nav {
    width: 100%;
    background-color: rgb(32, 32, 32);
    padding-bottom: 10px;
    padding-top: 10px;
    position: sticky;
}

.name {
    text-decoration: none;
    padding-left: 8px;
    width: 78%;
}

a {
    text-decoration: none;
    font-size: 25px;
    float: left;
}

.name a {
    text-decoration: none;
    color: white;
    padding-left: 5px;
}

.name a:hover {
    color: white;
}

#search-bar {
    padding-top: 8px;
    float: right;
    text-align: center;
}


#input {
    border-radius: 20px;
}

#search {
    padding-left: 0px;
    width: 75px;
    background-color: rgb(32, 32, 32);
    color: #4bc9d7;
    border-color: #4bc9d7;
    border-radius: 5px;
}

#search:hover {
    transform: scale(1.1);
}

body {
    background-image: url(/img/823-8236593_singapore-city-transparent.png);
}

#background {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0px;

}

#first_info {
    width: 99%;
    padding-left: 10px;
    border: 1px solid black;
    height: auto;
}

#cityFlag {
    width: 120px;
}

#flagImgUri{
    width: 100px;
}

#currency {
    float: right;
    width: 100%;
    padding-left: 25px;
    padding-top: 25px;
    border: 1px solid black;

}

.titel {
    font-size: 35px;
}


body{
    background-image: url(/FrontEnd/static/img/823-8236593_singapore-city-transparent.png);
    background-color: grey;
}

#first_site {
    width: 40%;
    height: 40%;
    margin: 0px;
    padding-left: 30%;
}


body>.grid {
    display: grid;
    grid-template-areas:
        'header'
        'section'
    ;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
}

header>h1 {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 60%;
    background-color: darkgrey;
    text-align: center;
    margin-bottom: 0px;
}


section {
    grid-area: section;
    display: flex;
    justify-content: center;
}

#hej {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    width: 60%;
    background-color: rgb(155, 155, 155);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-bottom: 10px;
}

#search>h1 {
    margin: 0%;
    margin-bottom: 10px;
}

#search-bar {
    flex: 1;
    border: none;
    outline: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#search-button {
    padding: 20px;
    border: none;
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#info {
    margin-top: 10px;
    text-align: center;
    padding-bottom: 10px;

}

#info>h3 {
    display: flex;
}

#info>p {
    display: flex;
}




.wrapper{
    width: 350px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 7px;
    background: #fff;

}

.wrapper header {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.wrapper form {
    margin: 40px 0 20px 0;
}

form :where(input, select, button) {
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: none;
}

form p {
    font-size: 18px;
    margin-bottom: 5px;
}

form input {
    height: 50px;
    font-size: 17px;
    padding: 0 15px;
    border: 1px solid #999
}

form input:focus {
    margin-top: 0 14px;
    border: 2px solid #416dfd
}

form .drop-list {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.drop-list .select-box {
    display: flex;
    width: 115px;
    height: 45px;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    border: 1px solid #999;
}

.select-box img {
    max-width: 21px;
}

.select-box select {
    width: auto;
    font-size: 16px;
    background: none;
    margin: 0 -5px 0 5px
}

.select-box select::-webkit-scrollbar {
    width: 8px;
}

.select-box select::-webkit-scrollbar-track {
    background: #fff
}

.select-box select::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
    border-right: 2px solid #ffffff;
}

.drop-list .icon {
    cursor: pointer;
    margin-top: 30px;
    font-size: 22px;
}

form .exchange-rate {
    font-size: 17px;
    margin: 20px 0 30px;
}

form button {
    height: 52px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    background: #1036dd;
    transition: 0.3s ease;
}

form button:hover {
    background: #416dfd;
}

/* WEATHER */

#weather {
    background-color: rgba(221, 219, 219, 0.5);
    float: left;
    width: 100%;
    padding-left: 25px;
    padding-top: 25px;
    border: 1px solid black;
    height: auto;
}

.grid-container-weather {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
}

.grid-item-weather {
    padding: 10px;
}