body{
    background-color: lightgrey;
}

body > .grid{
    display: grid;
    grid-template-areas: 
    'header'
    'section'
    ;
}

header{
    grid-area: header;
    display: flex;
    justify-content: center;

}

header > h1{
    border-radius: 50px;
    width: 60%;
    background-color: darkgrey;
    text-align: center;
}

section{
    grid-area: section;
    display: flex;
    justify-content: center;
}

#hej{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50%;
    background-color: rgb(155, 155, 155);
    border-radius: 50px;
}

#search{

    width: 100%;
}

#search-bar{
    width: 40%;
    margin-left: 30%;
    margin-top: 10%;
}

#button{
    margin-top: 2px;
    display: flex;
    justify-content: center;
}
#info{
    margin-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}

