<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Infocity</title>

        <link rel="stylesheet" href="../static/style.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

        <script type="text/javascript" src="../static/weather.js"></script>

    </head>

    <body>
        <div class="grid">
            <header>
                <h1>Infocity</h1>
            </header>

            <section>
                <div id="hej">
                    <div id="search">
                        <input id="search-bar" type="search-bar" placeholder="Search for a country/region/city">
                    </div>
                    <div id="button"> 
                        <input id="button" type="submit">
                    </div>
                    <div id="info">
                        <h1>Info om sidan</h1>
                        <p>
                            text
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </body>

</html>