<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Infocity</title>

        <link rel="stylesheet" href="../static/style.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="script.js"></script>
        <script type="text/javascript" src="../static/weather.js"></script>

    </head>

    <body>
        <div class="grid">
            <header>
                <h1>Infocity</h1>
            </header>

            <section>
                <div id="hej">
                    <h3><a href="info.html">Sök här!</a></h3>
                    <div id="info">
                        <h1>Info om sidan</h1>
                        <h3>Vad är sidan om? fetstill  </h3>
                        <p>
                            Denna sidan handlar om hur det ser ut i landet, region eller stad. När man har sökt på något av det får man information om hur det ser ut.                   
                        </p>
                        <h3>Hur fungera sidan? fetstill</h3>
                        <p>
                            Det fungera på det sätta att man skriver in en stad, region eller land.
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </body>

</html>