<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Infocity</title>

        <link rel="stylesheet" href="../static/style.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="script.js"></script>
        <script type="text/javascript" src="../static/script.js"></script>

    </head>

    <body>
        <div class="grid">
            <header>
                <h1>Infocity</h1>
            </header>

            <section>
                <div id="hej">
                    <h3><a href="info.html">Sök här!</a></h3>
                    <div id="first_info">
                        <h1>Info om sidan</h1>
                        <h3>Vad är sidan om?</h3>
                        <p>
                            Infocity är tillför att kunna ta reda på lite om land, region eller stad. Det man gör är att trycka på sök här. Där efter skriver man in vad man vill sök
                            på. Då när man har sökt får man reda på vart det ligger, valuta och väder.                
                        </p>
                    </div>
                </div>
            </section>

        </div>
    </body>

</html>