<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Infocity</title>

        <link rel="stylesheet" href="../static/style.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="script.js"></script>
        <script type="text/javascript" src="../static/weather.js"></script>

    </head>

    <body>
        <div class="grid">
            <header>
                <h1>Welcome to Infocity</h1>
            </header>

            <section>
                <div id="hej">
                    <a id="icon_link" href="info.html"><img src="/static/icons/infocity-icon_v1_221227.png" width="90" height="90"></a>
                    <p id="start_text">Click on the icon picture to start searching for city</p>
                    <div id="first_info">
                        <h1>Infomation about our site</h1>
                        <h4>This is for those people who like to travel to diffrent city and want to know more about the city this is perfekt page for you.</h4>
                        <img id="head_img" src="/static/img/konsten-att-bygga-stad.jpg" width="500" height="450">
                        <h3>You can search for diffrent citys and get this diffrent things:</h3>
                        <h4>For exampel: Weather forecast, 3 days</h4>
                        <img src="">
                        <h4>Information, including population and the flag where the city is located</h4>
                        <img src="">
                        <h4>Currency and a currency converter</h4>
                        <img src="">
                        <h4>Search for a city here</h4>
                        <img src="">
                    </div>
                </div>
            </section>
            <footer>
                <h4>&copy; 2023, Infocity</h4>
            </footer>
        </div>
    </body>

</html>