<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/landingstyles.css">
    </head>
    <body>
        <h1 class="title">Välkommen till infocity</h1>
        <form onsubmit="event.preventDefault();" role="search" class="searchfield">
            <input id="search" type="search" placeholder="Sök efter en stad/land/region..." autofocus required />
            <button id="searchbutton" type="submit">Sök</button>    
        </form>
        </div>
        <div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
                <img class="image" src="https://images.unsplash.com/photo-1490644658840-3f2e3f8c5625?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bmV3JTIweW9ya3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="New York" draggable="false">
                <img class="image" src="https://images.unsplash.com/photo-1538428494232-9c0d8a3ab403?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Shanghai" draggable="false">
                <img class="image" src="https://images.unsplash.com/photo-1601806206217-97fdee6fb97b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fFN0b2NraG9sbXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Stockholm" draggable="false">
                <img class="image" src="https://images.unsplash.com/photo-1486299267070-83823f5448dd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="London" draggable="false">
                <img class="image" src="https://images.unsplash.com/photo-1549144511-f099e773c147?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="Paris" draggable="false">
                <img class="image" src="https://images.unsplash.com/photo-1630219694734-fe47ab76b15e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1052&q=80" alt="Barcelona" draggable="false">
                <img class="image" src="https://images.unsplash.com/photo-1569230516306-5a8cb5586399?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="Rome" draggable="false">
        </div>
        <script src="../static/landingscript.js"></script>
    </body>
</html>


<!--

<div class="city-image">
                <img class="image" src="https://images.unsplash.com/photo-1490644658840-3f2e3f8c5625?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bmV3JTIweW9ya3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="New York" draggable="false">
                <div class="city-name">New York</div>
            </div>
            <div class="city-image">
                <img class="image" src="https://images.unsplash.com/photo-1538428494232-9c0d8a3ab403?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Shanghai" draggable="false">
                <div class="city-name">Shanghai</div>
            </div>
            <div class="city-image">
                <img class="image" src="https://images.unsplash.com/photo-1601806206217-97fdee6fb97b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fFN0b2NraG9sbXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Stockholm" draggable="false">
                <div class="city-name">Stockholm</div>
            </div>
            <div class="city-image">
                <img class="image" src="https://images.unsplash.com/photo-1486299267070-83823f5448dd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="London" draggable="false">
                <div class="city-name">London</div>
            </div>
            <div clss="city-image">
                <img class="image" src="https://images.unsplash.com/photo-1549144511-f099e773c147?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="Paris" draggable="false">
                <div class="city-name">Paris</div>
            </div>
            <div class="city-image">
                <img class="image" src="https://images.unsplash.com/photo-1630219694734-fe47ab76b15e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1052&q=80" alt="Barcelona" draggable="false">
                <div class="city-name">Barcelona</div>
            </div>
            <div class="city-image">
                <img class="image" src="https://images.unsplash.com/photo-1569230516306-5a8cb5586399?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="Rome" draggable="false">
                <div class="city-name">Rome</div>
            </div>    








-->